@model CalculadoraMedia.Dto.MediaDto

@{
    ViewBag.Title = "Resultado da Média";
}



<p>
    @Model.Number1
</p>

<p>
    @Model.Number2
</p>

<p>
<p>A média dos números @Model.Number1 e @Model.Number2 é: @Model.Result</p>

</p>